@model FotoDB.Models.AutorModel

@{
    ViewData["Title"] = "Edytujesz autora: " + ViewData.Model.Nazwisko + ViewData.Model.Imie;
}

<h1>Edytujesz autora: @Html.DisplayFor(model => model.Nazwisko)@Html.DisplayFor(model => model.Imie)</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AutorModelID" />
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KrajModelID" class="control-label"></label>
                <select asp-for="KrajModelID" class="form-control" asp-items="ViewBag.ListKrajs"></select>
                <span asp-validation-for="KrajModelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.AutorModelID" class="btn btn-info">Powrót do szczegółów</a>
    <a asp-action="Index" class="btn btn-info">Powrót do listy autorów</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
