@model FotoDB.Models.FotoModel

@{
    ViewData["Title"] = "Dodaj zdjęcie";
}

<h1>Dodaj zdjęcie</h1>

<h4>Utwórz nowe zdjęcie w bazie danych</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataWykonania" class="control-label"></label>
                <input asp-for="DataWykonania" class="form-control" />
                <span asp-validation-for="DataWykonania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoTytul" class="control-label"></label>
                <input asp-for="FotoTytul" class="form-control" />
                <span asp-validation-for="FotoTytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile"  type="file" class="form-control-file" accept="image/*"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
                @{ 
                    //Model.FotoData = System.IO.File.ReadAllBytes(Model.ImageFile.FileName);
                }
            </div>
            <div class="form-group">
                <label asp-for="FotoRozszerzenie" class="control-label"></label>
                <input asp-for="FotoRozszerzenie" class="form-control" />
                <span asp-validation-for="FotoRozszerzenie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorModelID" class="control-label"></label>

                @*@{
            FotoDB.Contexts.FotoDBContext manager = new FotoDB.Contexts.FotoDBContext();
            List<FotoDB.Models.AutorModel> listAutors = manager.Autors.ToList();
            listAutors.Sort((x, y) => string.Compare(x.Nazwisko, y.Imie));

            <select asp-for="AutorModelID" class="form-control">
                @{
                    <option value="" disabled hidden selected>Select Autor</option>
                    foreach (FotoDB.Models.AutorModel a in listAutors)
                    {
                        <option value="@a.AutorModelID">
                            <column>@a.Nazwisko</column>
                            <column>@a.Imie</column>
                        </option>
                    }
                }
            </select>
        }*@
            <select asp-for="AutorModelID" class ="form-control" asp-items="ViewBag.ListAutors"></select>
            <span asp-validation-for="AutorModelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Powrót do listy zdjęć</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
